*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #fff;
    font-weight: 400;
}